$color-primary: #19161b;
$color-primary-light: #1f1d21;
$color-primary-dark: rgba(0, 0, 0, 0.16);

$color-text: #b8b8b8;
$color-text-dark: #2e2d33;

$color-feature: #c4e4ea;
$color-white: #fff;
$color-accent: #ffb577;

$font-heading: "Playfair Display";
$font-text: "Poppins";
