footer.footer.container 
    img.footer__logo(src='/assets/icons/Logo.svg', alt='logo')
    nav.nav.footer__nav 
        ul.nav__list 
            li.nav__item 
                a(href='/index.pug') Home
            li.nav__item 
                a(href='#') Menu 
            li.nav__item 
                a(href='#') About Us
            li.nav__item 
                a(href='#') Our Story
            li.nav__item 
                a(href='#') Blog 
            li.nav__item 
                a(href='#') Contact
    .footer__border
    .footer__bottom.container
        p.footer__copy.text &copy; 2021 Finsweet | All rights reserved.
        .footer__media
            a.footer__media-link(href='#')
                img(src='/assets/icons/fb.svg')
            a.footer__media-link(href='#')
                img(src='/assets/icons/tweet.svg')
            a.footer__media-link(href='#')
                img(src='/assets/icons/insta.svg')
            a.footer__media-link(href='#')
                img(src='/assets/icons/in.svg')
        a.footer__contact.text(href='#')
            | Contact Us 
            span &rarr;