
<div  class="header container">
     <img class="header__logo" src="./assets/icons/Logo.svg"></img>
       <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="">Home</a></li>
            <li class="nav__item"><a href="">Menu</a></li>
            <li class="nav__item"><a href="">About Us</a></li>
            <li class="nav__item"><a href="">Our Story</a></li>
            <li class="nav__item"><a href="">Blog</a></li>
            <li class="nav__item"><a href="">Contact</a></li>
        </ul>
    </nav>
</div>
     
 
