header.header.container
    img.header__logo(src='/assets/icons/Logo.svg', alt="Logo")
    nav.nav 
        ul.nav__list 
            li.nav__item#index
                a(href="/index.pug") Home
            li.nav__item#menu
                a(href="/index/pages/menu.pug") Menu 
            li.nav__item#about
                a(href="/index/pages/about.pug") About us
            li.nav__item#story 
                a(href="/index/pages/story.pug") Our Story
            li.nav__item#blog 
                a(href="/index/pages/blog.pug") Blog 
            li.nav__item#contact
                a(href="/index/pages/contact.pug") Contact