.map__block 
    .map__detail 
        .map__time 
            h4.heading-small Working Hour 
            p.text Sunday to Saturday 
            p.text 09:00 AM to 11:00 PM 
        .map__place
            h4.heading-small Location 
            p.text United States 
            p.text 546544 
        .map__contact  
            h4.heading-small Contact Us 
            a.text(href="tel:+9776462441") +9776462441
            a.text(href="mailto:hey@yourdomain.com") hey@yourdomain.com
    .map__location#map