<div class="map__block">
        <div class="map__detail">
<div class="map__time">
    <h4 class="heading-small">Working Hour</h4>
    <p class="text">Sunday to Saturday</p>
    <p class="text">09:00 AM to 11:00 PM</p>
</div>

<div class="map__place">
    <h4 class="heading-small">Location</h4>
    <p class="text">United States</p>
    <p class="text">546544</p>
</div>

<div class="map__contact">
    <h4 class="heading-small">Contact Us</h4>
    <a href="tel:+9776462441" class="text">+9776462441</a>
    <a href="mailto:hey@yourdomain.com" class="text">hey@yourdomain.com</a>
</div>
        </div>
        <div class="map__location">
            
        </div>
    </div>
 