.map {
    
    &__block {
        margin-top: 16rem;
        background-color: $color-primary-light;
        display: flex;
    }
    
    &__detail {
        width: 50%;
        padding: 8rem 3.5rem 8rem 6.4rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        a {
            display: block;
        }
    }
}

#map{
    width: 100%;
    height: auto;
}



.leaflet-marker-icon {
  background-image: url('/assets/icons/marker-icon.svg');
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;

}