.nav {
    display: flex;
    align-items: start;

    &__list {
        list-style: none;
        display: flex;
        gap: 4rem;
    }

    &__item {
        transition: all 0.5s;
        &:visited,
        &:link {
            transition: all 0.5s;
        }

        &:hover,
        &:active {
            @include hover-link;
        }
    }
}
