header.header.container
    img.header__logo(src='/assets/icons/Logo.svg', alt="Logo")
    nav.nav 
        ul.nav__list 
            li.nav__item 
                a(href="#") Home
            li.nav__item 
                a(href="/pages/menu.pug") Menu 
            li.nav__item 
                a(href="/pages/about.pug") About us
            li.nav__item 
                a(href="/pages/story.pug") Our Story
            li.nav__item 
                a(href="/pages/blog.pug") Blog 
            li.nav__item 
                a(href="/pages/contact.pug") Contact