*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: $color-primary;
    font-size: 62.5%;
}

.button {
    @include button;
}

body {
    padding: 0 3rem;
}

.container {
    width: 128rem;
    margin: 0 auto;
}

::selection {
    background-color: $color-accent;
    color: $color-text-dark;
}

.active-tab {
    opacity: 1;
}
