body {
    font-family: $font-text;
    font-weight: 400;
    color: $color-white;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.heading-primary {
    @include heading;
    font-size: 5.6rem;
    line-height: 6.8rem;
}

.heading-secondary {
    @include heading;
    font-size: 4.8rem;
    line-height: 5.8rem;
}

.heading-tertiary {
    @include heading;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.8rem;
}

.heading-article {
    @include heading;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
}

.heading-small {
    @include heading-small;
}

.title {
    font-family: $font-heading;
    color: $color-accent;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    position: relative;

    &::after {
        content: "";
        border: solid 1px $color-white;
        width: 4.8rem;
        position: absolute;
        top: 1.2rem;
        margin-left: 1.6rem;
    }
}

.text {
    @include text;
}

.link-article{
   @include read-link;
   transition: all 0.2s;

   &:hover{
     @include hover-read-link;
   } 
}

.location {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $color-text;

}

.home-about__feature-title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $color-feature;
}
