.blog-inner {
    padding-top: $padding-top-small;

    &__autor {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;

        p {
            color: $color-white;
            padding-right: 1.2rem;
        }
    }

    .border {
        width: 50%;
        border: solid 0.1rem rgba($color-text, 0.1);
        margin: 0 auto;
        margin-top: 2.4rem;
    }

    h2{
        padding-top: 3.2rem;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    &__image{
        padding-top: 8rem;
    }

    &__content{
        padding-top: 8rem;
        margin: 0 auto;
        max-width: 84.2rem;
        
        h3{
            padding-bottom: 2.4rem;
        }

        p{
            padding-bottom: 1.6rem;
        }

        p:last-child {
            padding-bottom: 4rem;
        }

        h5 {
            padding-bottom: 2.4rem;
        }

        li{
            list-style: none;
        }
    }
}