.blog-page {
    padding-top: $padding-top-small;

        h2, h3{
            text-align: center;
            margin-bottom: 6.4rem;

        }

    &__main {
        width: 50%;
        background: url("/assets/img/BG-blog.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }    

    &__overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 17, 21, 0.81);
        z-index: 10;
    }

    &__mark{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 16rem;
        height: 5.2rem;
        background-color:rgba(255, 196, 146, 0.47);
        color: $color-white;
        font-family: $font-text;
        font-weight: 500;
        line-height: 2.4rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        z-index: 100;
    }

    &__main-content{
         width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        z-index: 100;

        h2{
            padding-left: 6.4rem;
            text-align: left;
        }
    }

    &__main-bottom{
        display: flex;
        justify-content: space-between;
        padding: 4rem 6.4rem;
    }

    &__main-autor{
        display: flex;

        img{
            padding-right: 1.6rem;
        }

        p {
            color: $color-white;
        }
    }

    &__featured{
        display: flex;
        gap: 3.2rem;
    }

    &__sub-articles{
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }


    &__item{
        display: flex;
        transition: all 0.3s;

        img {
            margin-right: 3.2rem;
        }

        h5 {
            margin-bottom: 1.6rem;
        }

        &:hover{
            transform: translateX(5%);
        }
    }
  
    &__item-content {
        width: 34.4rem;
    }

/////////////////////////////////////////

    &__articles{
         margin-top: 16rem;
    }

    &__articles-block{
        display: grid;
         grid-template: repeat(2, 1fr) / repeat(2, 1fr);
         row-gap: 4rem;
         column-gap: 6rem;
    }

    &__article {
        display: flex;
        gap: 4rem;
    }

    &__article-content{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h5{
            padding: 2.4rem 0;
        }
    }

}